@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-neutral-50;
    @apply bg-neutral-950;
  }

  body {
    @apply mb-8
  }

  body, header .content {
    @apply max-w-screen-2xl;
    @apply mx-auto;
  }

  hr {
    @apply border-yellow-400;
    @apply opacity-25;
    @apply my-8;
  }
}

swiper-container {
  --swiper-theme-color: rgb(250, 204, 21);
  --swiper-scrollbar-bg-color: rgba(250, 204, 21, 0.2);
  --swiper-scrollbar-drag-bg-color: var(--swiper-theme-color);
}

swiper-slide {
  width: auto;
  height: auto;
}
