@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-neutral-50;
    @apply bg-neutral-950;
  }

  body, header .content {
    @apply max-w-screen-2xl;
    @apply mx-auto;
  }
}

swiper-slide {
  width: auto;
}

swiper-container {
  height: 100%;
}

.swiper-slide-next, .swiper-slide-prev {
  filter: brightness(20%);
  transition: filter 0.2s ease-out;
}

swiper-container::part(button-prev), swiper-container::part(button-next) {
  @apply text-yellow-400;
}

