@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: rgb(255, 255, 255);
  }

  html {
    @apply text-black bg-white dark:text-white dark:bg-neutral-950;
  }

  html.dark {
    --bg-color: rgb(10, 10, 10);
  }

  body {
    @apply mb-8;
  }

  body, header .content {
    @apply max-w-screen-2xl mx-auto;
  }

  hr {
    @apply border-yellow-400 opacity-25 my-8;
  }

  a:not(.no-underline) {
    /* @apply underline cursor-pointer underline-offset-[.25rem] w-fit; */
    @apply w-fit hover:underline underline-offset-4;
  }
}

@layer utilities {
  .custom-shadow {
    @apply dark:bg-neutral-900 shadow-md dark:shadow-neutral-800 border-1 dark:border-neutral-700/50;
  }
  .custom-shadow-small {
    @apply dark:bg-neutral-900 shadow-sm dark:shadow-neutral-800 border-1 dark:border-neutral-700/50;
  }
  .icon {
    @apply w-8 hover:text-yellow-400 transition-colors;
  }
  .read-shadow {
    @apply relative after:pointer-events-none after:absolute after:bottom-0 after:left-0 after:w-full after:h-8 after:bg-gradient-to-b after:from-transparent;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) calc(100% - 2rem), rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) calc(100% - 2rem), rgba(0,0,0,0));
  }
}

swiper-container::part(container) {
  --swiper-theme-color: rgb(250, 204, 21);
  --swiper-scrollbar-bg-color: rgba(250, 204, 21, 0.2);
  --swiper-scrollbar-drag-bg-color: var(--swiper-theme-color);
}

swiper-slide {
  @apply w-auto h-auto;
}

#scroll-to-top {
  animation: appear linear both;
  animation-timeline: scroll();
  animation-range-start: 50vh;
  animation-range-end: 51vh;
}

.loader {
  width: 60px;
  aspect-ratio: 6;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}

@keyframes appear {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}